body{
  width:100%;
  height:100vh;
  color:#D3D3D3;
  font-family:sans-serif;
  font-size:20px;
  background-image:url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-deve-picture-id537331500?b=1&k=20&m=537331500&s=170667a&w=0&h=-OawbbTR9TwfewLYKlaU-_cn1m_dq1WLpBK1qubFhGI=);

}

body::after{
  position:static;
}
h1, p{
  margin:1em auto;
  text-align:center;
}

label{
  display:block;
  margin:0 auto;
  padding-top:1rem;
  width:450px;
}

label .inline{
  margin-bottom:0.1px;
}

input, textarea, select{
  width:450px;
  height:2em;
}

.inline{
  width:unset;
  margin-top:0.1px;
  margin-bottom:0.1px;
  vertical-align:middle;

}

form{
  max-width:800px;
	margin: 0 10px;
  padding-bottom: 2em;
  background-color:#1b1b32;
}

.main{
  max-width:600px;
  margin:0 400px;
}

textarea, select{
  width:450px;
  margin:0 auto;
}

input[type="submit"]{
  display:block;
  width:80%;
  margin:2em auto;
  background-color:#3CB371;
  height:3em;
  
}

textarea{
  margin:2em 2em;
}